<div class="limiter">
    <div class="container-login">
        <div class="wrap-login">
            <div class="login-pic" data-tilt>
                <img src="public/images/admin.png" alt="IMG">
            </div>
            <form class="mt-2" #teacherForm="ngForm" (ngSubmit)="createUser(teacherForm)">
                <h2 class="text-info mb-5 text-center brand">{{'register.title' | translate}}</h2>
                <input hidden name="_id" id="_id" type="text" [(ngModel)]="_id">
                <div id="user" class="form-group wrap-input mb-3" data-toggle="popover">
                    <input type="text" name="user" class="form-control input" placeholder="{{'register.username' | translate}}" [(ngModel)]="user">
                    <span class="focus-input"></span>
                    <span class="symbol-input">
                      <i class="fa fa-user" aria-hidden="true"></i>
                    </span>
                    <span class="input-valid">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                    <span class="input-invalid shake">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="wrap-input-inline">                    
                    <div id="name" class="form-group wrap-input">
                        <input type="name" name="name" class="form-control input"
                            placeholder="{{'register.name' | translate}}" [(ngModel)]="name">
                        <span class="focus-input"></span>
                        <span class="symbol-input">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </span>
                        <span class="input-valid">
                            <i class="fa fa-check" aria-hidden="true"></i>
                        </span>
                        <span class="input-invalid shake">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div id="lastname" class="form-group wrap-input">
                        <input type="name" name="lastname" class="form-control input"
                            placeholder="{{'register.lastname' | translate}}" [(ngModel)]="lastname">
                        <span class="focus-input"></span>
                        <span class="symbol-input">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </span>
                        <span class="input-valid">
                            <i class="fa fa-check" aria-hidden="true"></i>
                        </span>
                        <span class="input-invalid shake">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
                <div id="email" class="form-group wrap-input">
                    <input type="text" name="email" class="form-control input"
                        placeholder="{{'register.email' | translate}}" [(ngModel)]="email">
                    <span class="focus-input"></span>
                    <span class="symbol-input">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                    <span class="input-valid">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                    <span class="input-invalid shake">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </span>
                </div>
                <div id="password" class="form-group wrap-input">
                    <input name="passoword" type="password" class="form-control input"
                        placeholder="{{'register.password' | translate}}" [(ngModel)]="password">
                    <span class="focus-input"></span>
                    <span class="symbol-input">
                        <i class="fa fa-lock"></i>
                    </span>
                    <span class="input-valid">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                    <span class="input-invalid shake">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </span>
                </div>
                <div id="valPass" class="form-group wrap-input">
                    <input name="valPass" type="password" class="form-control input"
                        placeholder="{{'register.valPass' | translate}}" [(ngModel)]="valPass">
                    <span class="focus-input"></span>
                    <span class="symbol-input">
                        <i class="fa fa-lock"></i>
                    </span>
                    <span class="input-valid">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                    <span class="input-invalid shake">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="wrap-btn-inline">
                    <button class="btn btn-info col-md-6" type="submit">{{'register.title' | translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>