<div class="container-100">
  <div class="wrap-100">
    <p class="title">{{'dashboard_su.title1' | translate}} 
      <span class="text-info">{{'dashboard_su.title2' | translate}}</span>
    </p>
    <div>
      <div class="center">
        <div class=" col-md-4  mb-2 mt-4 op" [routerLink]="['cuentas']">
          <div class="inforide">
            <div class="ride">
              <img src="public/images/stud.png">
            </div>
            <div class="fontsty">
              <h4>{{'dashboard_su.stu' | translate}}</h4>
            </div>
          </div>
        </div>
        <div class=" col-md-4  mb-2 mt-4 op" [routerLink]="['asignar']">
          <div class="inforide">
            <div class="ride">
              <img src="public/images/asig.png">
            </div>
            <div class="fontsty">
              <h4>{{'dashboard_su.assign' | translate}}</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="center">
        <div class=" col-md-4  mb-2 mt-4 op" [routerLink]="['calculos']">
          <div class="inforide">
            <div class="ride">
              <img src="public/images/stats.png">
            </div>
            <div class="fontsty">
              <h4>{{'dashboard_su.course' | translate}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>