<div class="container-100">
    <div class="wrap-100">
        <p class="title">{{'dashboard_su.title1' | translate}} <span
                class="text-info">{{'dashboard_su.title2' | translate}}</span></p>
        <div>
            <div class="row">
                <div class="col-md-4 mb-2 mt-4 op" [routerLink]="['institutions']">
                    <div class="inforide">
                        <div class="ride">
                            <img src="public/images/inst.png">
                        </div>
                        <div class="fontsty">
                            <h4>{{'dashboard_su.inst' | translate}}</h4>
                        </div>
                    </div>
                </div>
                <div class=" col-md-4  mb-2 mt-4 op" [routerLink]="['students']">
                    <div class="inforide">
                        <div class="ride">
                            <img src="public/images/stud.png">
                        </div>
                        <div class="fontsty">
                            <h4>{{'dashboard_su.stu' | translate}}</h4>
                        </div>
                    </div>
                </div>
                <div class=" col-md-4  mb-2 mt-4 op" [routerLink]="['teachers']">
                    <div class="inforide">
                        <div class="ride">
                            <img src="public/images/prof.png">
                        </div>
                        <div class="fontsty">
                            <h4>{{'dashboard_su.prof' | translate}}</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-2 mt-4 op" [routerLink]="['admins']">
                    <div class="inforide">
                        <div class="ride">
                            <img src="public/images/admin.png">
                        </div>
                        <div class="fontsty">
                            <h4>{{'dashboard_su.admin' | translate}}</h4>
                        </div>
                    </div>
                </div>
                <div class=" col-md-4  mb-2 mt-4 op" [routerLink]="['assignments']">
                    <div class="inforide">
                        <div class="ride">
                            <img src="public/images/asig.png">
                        </div>
                        <div class="fontsty">
                            <h4>{{'dashboard_su.assign' | translate}}</h4>
                        </div>
                    </div>
                </div>
                <div class=" col-md-4  mb-2 mt-4 op" [routerLink]="['courses']">
                    <div class="inforide">
                        <div class="ride">
                            <img src="public/images/cour.png">
                        </div>
                        <div class="fontsty">
                            <h4>{{'dashboard_su.course' | translate}}</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="center">
                <div class=" col-md-4  mb-2 mt-4 op" [routerLink]="['reports']">
                    <div class="inforide">
                        <div class="ride">
                            <img src="public/images/reports.png">
                        </div>
                        <div class="fontsty">
                            <h4>{{'dashboard_su.rep' | translate}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>