.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-login {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.wrap-login {
    width: 960px;
    background: #0d0e12;
    border-radius: 10px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    padding: 60px 50px 80px 50px;
}

.center {
    display: flex;
    justify-content: center;
}

form {
    width: 500px;
}


/*------------------------------------------------------------------
  [  ]*/

.login-pic {
    width: 300px;
    margin-right: 40px;
}

.login-pic img {
    max-width: 100%;
}

.brand {
    font-family: Poppins-Bold;
}


/* Input */

.wrap-input {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
}

.wrap-input-inline {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    margin-top: -6px;
}

.wrap-btn-inline {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
}

.input {
    font-family: Poppins-Medium;
    font-size: 15px;
    line-height: 1.5;
    color: #aaaaaa;
    display: block;
    width: 100%;
    background: #131317;
    height: 50px;
    border-radius: 25px;
    padding: 0px 68px 0px 68px;
}


/*T R B L */


/*------------------------------------------------------------------
  [ Focus ]*/

.focus-input {
    display: block;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: #cb3234;
}

.input:focus+.focus-input {
    -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
    animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 70px 25px;
        opacity: 0;
    }
}

@keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 70px 25px;
        opacity: 0;
    }
}

.symbol-input {
    font-size: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 35px;
    pointer-events: none;
    color: #666666;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.input-invalid {
    font-size: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    right: 0;
    height: 100%;
    padding-right: 0px;
    pointer-events: none;
    color: #0000;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.input-valid {
    font-size: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    right: 0;
    height: 100%;
    padding-right: 0px;
    pointer-events: none;
    color: #0000;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.invalid .shake {
    animation: tiembla 0.5s;
    -webkit-animation: tiembla 0.5s;
}

.valid .input-valid {
    padding-right: 35px;
    color: #4BBF73;
}

.invalid .input-invalid {
    padding-right: 35px;
    color: #cb3234;
}

.valid .input-invalid {
    color: #0000;
}

.invalid .input-valid {
    color: #0000;
}

.input:focus+.focus-input+.symbol-input {
    color: #cb3234;
    padding-left: 28px;
}

.input:focus~.input-invalid {
    padding-right: 28px;
}

.input:focus~.input-valid {
    padding-right: 28px;
}

@keyframes tiembla {
    0% {
        -webkit-transform: rotateZ(-5deg);
    }
    50% {
        -webkit-transform: rotateZ( 0deg) scale(.8);
    }
    100% {
        -webkit-transform: rotateZ( 5deg);
    }
}


/*Responsive Up Left Down Right*/

@media (max-width: 1024px) {
    .wrap-login {
        padding: 80px 0px 80px 80px;
    }
    .login-pic {
        margin-right: 50px;
        width: 35%;
    }
}

@media (max-width: 992px) {
    .wrap-login {
        padding: 60px 50px 80px 50px;
    }
}

@media (max-width: 768px) {
    .wrap-login {
        padding: 50px 50px 60px 50px;
    }
    .login-pic {
        margin-right: 50px;
        margin-top: 50px;
        width: 35%;
    }
    .login-form {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .wrap-login {
        padding: 50px 30px 70px 30px;
        justify-content: center;
    }
    .login-pic {
        margin-left: 0px;
        margin-right: 0px;
        width: 30%;
    }
}

.table-rwd {
    font-size: 0.85em;
    border: 1px solid transparent;
    color: #666;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.table-rwd td,
.table-rwd th {
    padding: 0.8em;
    border-bottom: 1px solid transparent;
}

.table-rwd th {
    background: #cb3234;
    color: #fff;
    font-weight: normal;
    text-align: left;
}

.table-rwd td {
    text-align: left;
}

.table-rwd td:first-of-type {
    text-align: left;
}

.table-rwd tr:hover {
    background: #131317;
}

.table-rwd tr:nth-child(even) {
    background: #131317;
}

.table-container {
    overflow-x: auto;
}

.table-rwd {
    min-width: 100px;
    width: 860px;
}

.op-icon {
    cursor: pointer;
    font-size: 20px;
    color: #cb3234;
    text-align: center;
}

.op-icon:hover {
    transform: scale(1.1);
    color: #941e25;
}

.btn-add{
    outline: none;
    width: 50px;
    height: 50px;
    border-color: transparent;
    background-color: #cb3234;
    color: #fff;
    border-radius: 25px;
    transition: all 0.3s;
}

.btn-add span{
    font-size: 0px;
    display: block;
    transition: all 0.3s;
}

.btn-add:active{
    border-color: transparent;
    box-shadow: transparent;
    border: 0;
    transform: scale(0.9)
}

.btn-add:hover{
    background-color: #941e25;
}

::-webkit-scrollbar {
    height: 12px;
    background-color: transparent;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #19191d;
}

::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
    background-color: #26262c;
}